*{
    margin: 0;
    padding: 0;
    /* background-image: url("https://watermark.lovepik.com/photo/40138/5520.jpg_wh1200.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #333;
    /* background-color: aquamarine; */
    
}

.header{
    background-color: rgba(255, 255, 255,0.7);


    .container{
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;


        .navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 25px;
        gap: 20px;
            
            .nav-items{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .menu-icon{
                display: none;
                width: 30px;
                height: 30px;
                img{
                    width: 100%;
                }
            }

            a{
            text-decoration: none;
            color: #555;
            }
        }
        #menu-toggle{
            display: none;
        }
        .hidden-nav-items{
            display: flex;
            flex-direction: column;
            background-color: #333;
            align-items: flex-end;
            gap: 10px;
            max-height: 0;
            transition: all 0.5s ease ;
            a{
                color: #fff;
                text-decoration: none;
                
            }
        }

        .headercontent{
        text-align: center;
        display: flex;
        margin-top: 70px;

            .headercontentitem{
            flex: 1;

                h1{
                    font-size: 50px;
                    line-height: 60px;
                    margin: 25px 0px;
                }
                p{
                    color: #555;
                }
                img{
                    padding: 50px 0px;
                }
            }
        }
    }
}

.category{ 
    margin: 70px 0px;

        .container{
            max-width: 1080px;
            margin: auto;
            padding: 0px 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            img{
                flex-basis: 30%;
                min-width: 250px;
                margin-bottom: 30px;
            }
        }

}

.feature-products{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;

    h2{
        color: #555;
        line-height: 60px; 
        text-align: center;
    }

    .customunderlinecontainer{
        display: flex;
        justify-content: center;
        margin-bottom: 80px ;
        .customunderline{
            width: 80px;
            height: 5px;
            background-color: #ff523b;
            border-radius: 5px;
        }

    }

    .product-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .product-card{
            display: flex;
            flex-direction: column;
            min-width: 200px;
            max-height: 500px;
            padding: 10px;
            margin-bottom: 50px;
            flex-basis: calc(25% - 20px);
            margin-bottom: 50px;
            cursor: pointer;
            transition: transform 0.3s;

            img{
                width: 100%; 
            }

            .product-titles{
                color: #555;
            }
            .product-pricing{
                color: #555
                font-size: 14px;
            }
        }

        .product-card:hover{
            transform: translateY(-5px);
        }
    }
}

.smartwatch-banner{
    margin-top: 80px;
    background-color: rgba(255,255,255,0.7);
    padding: 30px 0px;

    .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        justify-content: space-around
        align-items: center;


        .smartwatch_image_container{
            flex: 1;
            display: flex;
            padding: 50px;
            img{
                width: 100%;
            }


        }
        
        .smartwatch_content_container{
            flex: 1;
            text-align: center;
            padding-top: 200px;
            .smartwatch_banner_title{
                color: #555;
            }

            .smartwatch_banner_subtitle{
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0px;
            }

            .smartwatch_banner_price{
                color: #555;
                font-size: 14px; 
            }

            .buynow-button{
                background-color: #ff523b;
                color: #fff;
                margin: 30px 0px;
                padding: 8px 20px;
                border-radius: 30px;
                border: none;
            }

            .buynow-button:hover{
                background-color: #563434;
                cursor: pointer;
            }

        }

    }
}  

.testimonial-section{
    padding-top: 100px;

    .testimonial-inner-container{
        max-width: 1080px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .testimonial-cards{
            display: flex; 
            flex-direction: column;
            align-items: center;
            text-align: center;
            cursor: pointer;
            padding: 40px 20px 40px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            transition : transform 0.5s;
            min-width: 250px;
            margin-bottom: 30px;
            flex-basis: calc(30% - 50px);

            .testimonial-contents{
                font-size: 12px;
                margin: 12px 0px;
                color: #777;
            }

            .product-rating{
                padding-top: 20px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 4px;
            }

            .user-image{
                width: 50px;
                margin-top: 10px;
                border-radius: 50%;
            }

            h3{
                font-weight: 600;
                color: #b1a0ae;
                font-size: 16px;
            }

        }

        .testimonial-cards:hover{
            transform: translateY(-10px);
        }
    }

}

.branding-section{
    margin: 100px auto;
    .branding-inner-container{
        display: flex;
        justify-content: space-around;
        max-width: 1080px;
        padding: 0px 25px;
        margin: auto;
        flex-wrap: wrap;

        img{
            cursor: pointer;
            filter: grayscale(100%);
            width: 130px;
            height: 80px;
        }
        img:hover{
            filter: grayscale(0%);
        }
    }
}

.footer-section{
    background-color: #222831;
    color: #eeeeee;
    font-size: 14px;
    padding: 60px 0px 20px;

    .footer-inner-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1300px;
        margin: auto;
        padding: 0px 25px;

        .footer-column{
            min-width: 250px;
            margin-bottom: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer-column1{
                flex-basis: 30%;

                h3{
                    color: #ff523b;
                    margin-bottom: 20px;
                    font-weight: 500;
                }
                p{
                    color: #eeeeee;
                }

                .app-logo-container{
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    margin-top: 20px;
                    img{
                        width: 140px;
                        height: 40px;
                        margin: 5px 0px;
                    }
                }
            }

            .footer-column2{
                flex: 1;
                

                h3{
                    color: #ff523b;
                    margin-bottom: 20px;
                    font-weight: 500;
                }
                p{
                    color: #eeeeee;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: color 0.3s ease;
                }
                p:hover{
                    color: #ff523b;
                }
  
            }

            .footer-column3{
                flex-basis: 12%;

                h3{
                    color: #ff523b;
                    margin-bottom: 20px;
                    font-weight: 500;
                }
                p{
                    color: #eeeeee;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: color 0.3s ease;
                }
                p:hover{
                    color: #ff523b;
                }

                
            }

        }

    }
}

.all-products-section{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    padding: 0px 25px;
    margin: auto;
    .all-products-section-label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0px 50px;
        select{
            border: 1px solid #ff523b;
            padding: 5px;
            outline: none;
        }
    }


    .pagination-buttons-container{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 80px;
        .pagination-buttons{
            display: inline-block;
            border: 1px solid #ff523b;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
        .pagination-buttons:hover{
            background-color: #ff523b;
            color: #fff;
        }
    }

}

.product-details-section{
    margin-top: 80px;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    .product-details-content{
        flex-basis: calc(50% - 50px);
        padding: 20px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
        .product-details-img-content{
            gap: 4px;
            .product-image{
                width: 100%;
                padding-bottom: 10px;
            }

        .product-small-images-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .product-small-images{
                    flex-basis: 24%;
                    img{
                        width: 100%;
                        cursor: pointer;
                    }
                }
                
            }
        }
        .product-details-text-content{
            p{
                color: #555;
            }
            h1{
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0px;
            }
            h4{
                margin: 20px 0px;
                font-size: 22px;
                font-weight: bold;
                color: #555;
            }
            select{
                display: block;
                padding: 10px;
                margin-top: 20px;
                border: 1px solid #ff523b;
                outline: none;
                width: fit-content;
            }
            .addtocart-buttonwrapper{
                display: flex;
                align-items: center;
                gap: 10px;
                input{
                    width: 60px;
                    height: 40px;
                    padding-left: 10px;
                    font-size: 20px;
                    margin-right: 10px;
                    border: 1px solid #ff523b;
                    outline: none;
                }
                .addtocart-button{
                    display: inline-block;
                    background: #ff523b;
                    color: #fff;
                    padding: 8px 30px;
                    margin: 30px 0px;
                    border-radius: 30px;
                    transition: background-color 0.5s;
                    cursor: pointer;
                    a{
                        text-decoration: none;            
                    }

                }
                .addtocart-button:hover{
                    background-color: #563434;
                }
            }

        }
}


.cart-page-content{
    margin: 80px auto;
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    table{
        width: 100%;
        border-collapse: collapse;
        th{
            text-align: left;
            padding: 5px;
            color: #fff;
            background-color: #ff523b;
            font-weight: normal;
        }
        th:last-child{
            text-align: right;
        }
        td{
            padding: 10px 5px;
            .carts-info{
                display: flex;
                flex-wrap: wrap;
                img{
                    width: 80px;
                    height: 80px;
                    margin-right: 10px;
                    
                }
                .cart-info-details{
                    display: flex;
                    flex-direction: column;
                    P{
                        color: #555;
                    }
                    small{
                        color: #555;
                    }
                    a{
                        color: #ff523b;
                        font-size: 12px;
                        text-decoration: none;
                        margin-top: 4px;
                    }
                }
            }

            input{
                width: 40px;
                padding: 5px;
                outline: none;
            }
        }
        td:last-child{
            text-align: right;
        }
    }

    .total-price{
        display: flex;
        justify-content: flex-end;
        table{
            border-top: 1px solid #ff523b;
            max-width: 350px;
        }
        .checkout-btn{
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0px;
            border-radius: 30px;
            transition: background-color 0.5s;
        }
        .checkout-btn:hover{
            background-color: #563434;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 650px){
    .header .container .headercontent{
        flex-direction: column;
        h1, p{
            text-align: center;
        }
    }

    .category .container img{
        flex-basis: 100%;
    }

    .feature-products .product-container .product-card{
        flex-basis: 100% !important;

        .product-titles , .product-pricing , .product-rating{
            text-align: center;
        }


        
    }

    .feature-products .product-container a{
            text-decoration: none;
    }


    .smartwatch-banner{
        .container{
            flex-direction: column;
            .smartwatch_content_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0px;
            }
        }
    }

    .testimonial-section .testimonial-inner-container .testimonial-cards{
        flex-basis: 100% !important;
    }
    
    .branding-section .branding-inner-container img{
        padding-top: 10px;
    }

    .footer-section .footer-inner-container{
        flex-direction: column;
        .footer-column{
            margin-bottom: 20px;
         .footer-column1 , .footer-column2 , .footer-column3{
            text-align: center;
            }
        }
    }       

}

@media only screen and (max-width: 800px){
    .header{
        .container{
            .navbar{
                .nav-items{
                    display: none !important;
                }
                .menu-icon{
                    display: block !important;
                }
            }

            #menu-toggle:checked ~ .hidden-nav-items{
                max-height: 160px !important;
                padding: 10px 50px 10px;


            }
        }
    }

}





